.margin{
  
  right:10px;
  border: 0ch;
}

.mat-expansion-panel{
border:0ch;
border-radius: 5px;
}
.mat-accordion{
  margin-top: 20px;
  padding: 20px;
    width: 300px;
    height: 10px;
  
}
.mat-icon {
    font-size: 20px;
  }
  .mat-button{
    margin: -5x;
  }
.pin
{
  height:25px;margin-left:
   50px;margin-top: -50px;
  margin-bottom: 10px;
}
.title
{
  width: 500px;
  margin-top: -80px;
}