.note{
    border: 0ch
}

.mat-expansion-panel{
border:0ch
}
.mat-accordion{
  margin-top: 20px;
  padding: 20px;
    width: 200px;
    height: 10px;
}
.mat-icon {
    font-size: 20px;
  }
  .mat-button{
    margin: -5x;
  }