<div>
  <form [formGroup]="createNote">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Take a note...
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-panel-description>
          <input  placeholder="Title" formControlName="title">
        </mat-panel-description>

        <mat-panel-description>
          <input placeholder="Take a note..." formControlName="description">
        </mat-panel-description>

        <mat-toolbar-row>
          <div>
            <a mat-button routerLinkActive="active" matTooltip="Remind me" title="Remind me">
              <mat-icon>notification_important</mat-icon>
            </a>
          </div>

          <div style="position:relative;display:block">
            <a mat-button routerLinkActive="active" matTooltip="Collaborator" title="Collaborator">
              <mat-icon>person_add</mat-icon>
            </a>
          </div>

          <div style="position:relative;display:block">
            <a mat-button routerLinkActive="active" matTooltip="Change color" title="Change color">
              <mat-icon>color_lens</mat-icon>
            </a>
          </div>
          <div style="position:relative;display:block">
            <a mat-button routerLinkActive="active" matTooltip="Add image" title="Add image">
              <mat-icon>photo</mat-icon>
            </a>
          </div>

          <div style="position:relative;display:block">
            <a mat-button routerLinkActive="active" matTooltip="Archive" title="Archive">
              <mat-icon>archive</mat-icon>
            </a>
          </div>
          <div style="position:relative;display:block">
            <a mat-button routerLinkActive="active" matTooltip="More" title="More">
              <mat-icon> more_vert </mat-icon>
            </a>
          </div>

          <div style="position:relative;display:block">
            <a mat-button routerLinkActive="active" matTooltip="undo" title="undo">
              <mat-icon>undo</mat-icon>
            </a>
          </div>
          <div style="position:relative;display:block">
            <a mat-button routerLinkActive="active" matTooltip="redo" title="redo">
              <mat-icon>redo</mat-icon>
            </a>
          </div>
          <button mat-button color="black" (click)="onSubmit(createNote.value)">Close</button>
        </mat-toolbar-row>

      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
<div>
  <app-list-of-notes></app-list-of-notes>
</div>