
button {
    align-content: center;
    background-color:rgb(241, 161, 12);
    color: white;
    padding: 10px 10px;
    margin: 5px 0;
    cursor: pointer;
    width: 50%;
    }
    button:hover {
    opacity: 0.5;
    }
  
  