.notecard{
    /* height: 150px; */
    word-wrap: break-word;
    width: 200px;
    height: 15px;
    
}

.textarea{
    outline: none;
}
.matInput{
  border: none;
      margin-left: 500px;
    background-color: transparent;
}
.mat-icon {
    font-size: 20px;
  }
  .mat-button{
    margin: -3x;
  }

  ::ng-deep.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    padding: 0px;
    border-radius: 7px;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 550px;
    height: 300px;
    min-height: inherit;
    max-height: inherit;
}
// .button{
//   position: absolute;
//   height: 25px;
//   width: 25px;
//   right: 1px;
// }