.notecard{
    /* height: 150px; */
    word-wrap: break-word;
    width: 200px;
    height: 150px;
    
}

.textarea{
    outline: none;
}
.matInput{
    border: 0ch
}
.mat-icon {
    font-size: 20px;
  }
  .mat-button{
    margin: -3x;
  }