.button{
  position: absolute;
  right: 10px;
  height: 25px;
  width: 25px;
}

.mat-icon {
    font-size: 20px;
    padding:  10px;
  }
  .mat-button{
    padding: 0 4px;
    min-width: 46px !important;;
  }

.margin
{
  right:10px;
  
}
  .mat-menu
  {
    width: 350px;
    height: 400px;
  }

  :host {
    .gk {
    &-container {
      margin: 10px 20px;
    }
      &-grid-view {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        mat-card{
          width:300px;
          position: relative;
         
          padding: 5px;
          box-shadow: 0 14px 28px rgba(110, 108, 108, 0.22), 0 10px 10px rgba(110, 108, 108, 0.22);
        
        }
      }
      &-list-view {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        mat-card{
          width:300px;
          position: relative;
          box-shadow: 0 14px 28px rgba(110, 108, 108, 0.22), 0 10px 10px rgba(110, 108, 108, 0.22);
        }
      }
    }
}