.color{
    background-color:paleturquoise;
    width: 350x;
    height: 400px;
    
}
.mat-icon {
    font-size: 20px;
  }
  .mat-button{
    margin: -10x;
  }


  .mat-menu
  {
    width: 350px;
    height: 400px;
  }

  :host {
    .gk {
    &-container {
      margin: 10px 20px;
    }
      &-grid-view {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        mat-card{
          width:300px;
          position: relative;
        }
      }
      &-list-view {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        mat-card{
          width:500px;
          position: relative;
        }
      }
    }
}