// .color{
//     background-color:paleturquoise;
//     width: 100x;
//     height: 400px;
    
// }
.mat-icon {
    font-size: 20px;
    padding:  10px;
  }
  .mat-button{
    padding: 0 4px;
    min-width: 46px !important;;
  }

.margin
{
  right:10px;
  
}
  .mat-menu
  {
    width: 350px;
    height: 400px;
  }

  :host {
    .gk {
    &-container {
      margin: 10px 20px;
    }
      &-grid-view {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        mat-card{
          width:300px;
          position: relative;
        }
      }
      &-list-view {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        mat-card{
          width:300px;
          position: relative;
        }
      }
    }
}