<div class="container" fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center center">
  <div class="gk" [ngClass]="grid ? 'gk-grid-view': 'gk-list-view'">
    <div *ngFor="let note of notes" class="gk-container">
      <mat-card class="head" [style.background-color]="note.color">
        <mat-toolbar-row>
          <mat-card-header>
            <mat-card-title (click)=openDialog(note)>
              {{note.title}}
            </mat-card-title>
          </mat-card-header>
          <div class="button">
            <a mat-button class="margin" *ngIf="!note.pinned" (click)="pinned('pinned',note)" routerLinkActive="active"
              matTooltip="colorize" title="pin note">
              <img src="./assets/images/pinn.jpg" height="25px">
            </a>
            <a mat-button class="margin" *ngIf="note.pinned" (click)="pinned('unpin',note)" routerLinkActive="active"
              matTooltip="colorize" title="pin note">
              <img src="./assets/images/pinn.jpg"  height="25px">
            </a>
          </div>
        </mat-toolbar-row>
        <div>
          <mat-card-content (click)=openDialog(note)>
            {{note.description}}
          </mat-card-content>
        </div>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let label of note.labelList" [removable]="removable" (removed)="remove(note,label)"
            color="note.color">
            {{label.labelName}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <mat-toolbar-row>
          <div>
            <a mat-button routerLinkActive="active" matTooltip="Remind me" title="Remind me">
              <mat-icon>notification_important</mat-icon>
            </a>
          </div>

          <div>
            <a mat-button routerLinkActive="active" matTooltip="Collaborator" title="Collaborator">
              <mat-icon>person_add</mat-icon>
            </a>
          </div>

          <app-color-palet [newNote]="note" (colorChange)="updateColor($event)"></app-color-palet>
     
          <div>
            <a mat-button routerLinkActive="active" matTooltip="Add image" title="Add image">
              <mat-icon>photo</mat-icon>
            </a>
          </div>

          <div>
            <a mat-button *ngIf="!note.archive" (click)="inArchive('archive',note)" routerLinkActive="active"
              matTooltip="archive" title="archive">
              <mat-icon>archive</mat-icon>
            </a>
            <a mat-button *ngIf="note.archive" (click)="inArchive('unarchive',note)" routerLinkActive="active"
              matTooltip="archive" title="archive">
              <mat-icon>unarchive</mat-icon>
            </a>
          </div>

          <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="more" matTooltip="more"
            title="more">
            <i id="accountcircle" class="material-icons">more_vert</i></button>
          <mat-menu #more="matMenu" class="morecard">
            <button mat-button (click)="inTrash('inTrash',note)">Delete Note</button>


            <div>
              <button mat-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">Add Label</button>
              <mat-menu #menu="matMenu">
                Label notes
                <div fxLayout="row">
                  <mat-toolbar-row>
                    <input type="input" placeholder="Seach for labels">
                    <mat-icon> search</mat-icon>
                  </mat-toolbar-row>
                </div>
                <div *ngFor="let label of labels">
                  <mat-checkbox (click)="addLabelToNote($event,label,note)">{{label.labelName}}</mat-checkbox>
                </div>
              </mat-menu>
            </div>
          </mat-menu>
        </mat-toolbar-row>
      </mat-card>

    </div>
  </div>
</div>