<!-- side navigation bar -->

<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" opened role="navigation" class="sidecolor">
    <mat-nav-list>
      <!-- notes -->
      <button mat-menu-item [routerLink]="['/home/viewnote']">
        <mat-icon>lightbulb</mat-icon>
        <span>Notes</span>
      </button>
      <!-- remainder -->
      <button mat-menu-item [routerLink]="['/home/reminder']">
        <mat-icon>notifications_none</mat-icon>
        <span>Remainder</span>
      </button>
      <mat-divider></mat-divider><br>
      <!-- label name -->
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div>
      <span>
        <font size="1" face="arial">LABELS</font>
      </span>

      <div *ngFor="let label of labels">
        <button mat-menu-item>
          <mat-icon> label_outline</mat-icon>
          {{label.labelName}}
        </button>
      </div>
    </div>
      <!-- edit labels  -->
      <button mat-menu-item (click)=openDialog()>
        <mat-icon>edit</mat-icon>
        <span style="margin-left: 14px">Edit Labels</span>
      </button>
      <mat-divider></mat-divider>
      <!-- archive -->
      <button mat-menu-item [routerLink]="['/home/archive-note']">
        <!-- <mat-icon>archive</mat-icon> -->
        <img class="image" src="./assets/images/outline-archive-24px.svg"/>
        <span>Archive</span>
      </button>
      <!-- delete -->
      <button mat-menu-item [routerLink]="['/home/trash']">
        <mat-icon>delete </mat-icon>
        <span>Trash </span>
      </button>

    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
