mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    
    height: 100%;
}
 
mat-sidenav {
    width: 20%;
    height: 100%;
}
 
   main {
    padding: 10px;
}
/* .mat-menu-item:hover{
background-color: rgb(254, 239, 195);
border-bottom-right-radius: 25px;
border-top-right-radius: 25px;
} */
.cdk-focused
{
    background-color: rgb(254, 239, 195);
border-bottom-right-radius: 25px;
border-top-right-radius: 25px
}