<div fxLayout="row" fxLayoutAlign="center center">
  <mat-toolbar color="" class="example-toolbar" fxFlex="100%;" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggle()" matTooltip="Menu"
        title="Main menu">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img src="./assets/images/google_keep.jpg" style="width:50px;"></span>
      &nbsp;&nbsp;&nbsp;
      <span>
        <font size="5" face="arial">Keep</font>
      </span>
      &nbsp;&nbsp;&nbsp;
      <!-- Search -->
      <div id="searchbox" fxLayoutGap="2%">
        <div fxFlex="100%">
          <button mat-icon-button (click)="searchtest()">
            <mat-icon id="buttn">search</mat-icon>
          </button>
        </div>
        <div fxFlex="100%">
          <input class="search" matInput id="input" type="text" s placeholder="Search...."
             name="searchValue" (click)="searchtest()"
            [(ngModel)]="searchValue">
        </div>
        <div fxLayoutGap="3%">
          <button mat-button *ngIf="searchValue" matSuffix mat-icon-button class="button" (click)="clearSearch()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <a mat-button r routerLinkActive="active" matTooltip="refresh" [routerLink]="['/home/viewnote']" title="refresh" style="margin-left: 25%">
          <mat-icon>refresh</mat-icon>
        </a>
        <!-- List & Grid -->
        <button mat-icon-button (click)="viewGrid()" fxHide.xs="true" fxShow.sm="false" fxShow.md="true"
          fxShow.lg="true" style="margin-right: 25%">
          <mat-icon  title="list view" *ngIf="!grid">view_stream</mat-icon>
          <mat-icon  title="grid view" *ngIf="grid">view_module</mat-icon>
        </button>
      </div>
      <button mat-button [matMenuTriggerFor]="settings" matTooltip="Settings" title="Settings" style="margin-left: 3%">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settings="matMenu">
        <button mat-menu-item>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <span>Send Feedback</span>
        </button>
        <button mat-menu-item>
          <span>Help</span>
        </button>
        <button mat-menu-item>
          <span>App Download</span>
        </button>
        <button mat-menu-item>
          <span>KeyBoard ShortCut</span>
        </button>
      </mat-menu>


      <button mat-icon-button [matMenuTriggerFor]="account" matTooltip="Account" title="Account">
        <img class="imagestyle" [src]="imageData.imageSrc" *ngIf="imageData.imageSrc!==null" account_circle>
        <!-- <mat-icon></mat-icon> -->
      </button>
      <mat-menu #account="matMenu" class="morecard">
        <div>
          <button mat-icon-button [matMenuTriggerFor]="account" matTooltip="Account" title="Account">
            <img class="imagestyle" [src]="imageData.imageSrc" *ngIf="imageData.imageSrc!==null">
          
          </button>
          <button mat-menu-item (click)="openDialog()">
            Change Image
          </button>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
          <button mat-menu-item (click)="signOut()">
            <mat-icon>logout</mat-icon>Sign out
          </button>
        </div>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<app-side-navibar [parentSubject]="parentSubject"></app-side-navibar>