<div fxLayout="row" fxLayoutAlign="center center">
  <mat-toolbar color="" class="example-toolbar" fxFlex="100%;" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggle()" matTooltip="Menu"
        title="Main menu">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img src="./assets/images/google_keep.jpg" style="width:50px;"></span>
      &nbsp;&nbsp;&nbsp;
      <span>
        <font size="5" face="arial">Keep</font>
      </span>
      &nbsp;&nbsp;&nbsp;
      <!-- Search form -->
      <div class="slinput" ng-init="">
        <i class="fa fa-search left-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchInputVal" />
        <i ng-class="{'fa' : true, 'fa-close' : true, 'right-icon' : true, active : (searchInputVal.length > 0)}"
          ng-click="searchInputVal = ''"></i>
        <button mat-button title="search">
          <mat-icon>search</mat-icon>
        </button>

        <a mat-button r routerLinkActive="active" matTooltip="refresh" title="refresh">
          <mat-icon>refresh</mat-icon>
        </a>
       
        <a mat-button r routerLinkActive="active" matTooltip="Lists" title="lists">
          <mat-icon>dns</mat-icon>
        </a>
      </div>
        <a mat-button routerLinkActive="active" matTooltip="notification" title="notification">
          <mat-icon>notification_important</mat-icon>
        </a>
        
        <button mat-button [matMenuTriggerFor]="settings" matTooltip="Settings" title="Settings">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #settings="matMenu">
          <button mat-menu-item>
            <span>Settings</span>
          </button>
          <button mat-menu-item>
            <span>Send Feedback</span>
          </button>
          <button mat-menu-item>
            <span>Help</span>
          </button>
          <button mat-menu-item>
            <span>App Download</span>
          </button>
          <button mat-menu-item>
            <span>KeyBoard ShortCut</span>
          </button>
        </mat-menu>
        
        <button mat-icon-button [matMenuTriggerFor]="user" matTooltip="User Details" title="User Details">
            <img src="./assets/images/premapic.jpg">
          <!-- <mat-icon>account_circle</mat-icon> -->
        </button>
        
        <mat-menu #user="matMenu">
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <a mat-button routerLink="/login">
              <span>Logout</span>
            </a>
          </button>
        </mat-menu>
        
    </mat-toolbar-row>
  </mat-toolbar>
</div>


<app-side-navibar [parentSubject]="parentSubject"></app-side-navibar>